@page
@model WaiterAvailabilityApp.Pages.IndexModel

@{
    ViewData["Title"] = "Welcome - Waiter Availability App";
}

<div class="row h-100">
    <div class="d-flex justify-content-center flex-column align-items-center login-row">
        @* <h1><i class="bi bi-person-square"></i></h1> *@
        <img src="~/img/waiter.png" alt="waiter" style="width: 100px" class="mb-3">
        <p>Welcome to Waiter Availability App</p>
        <p>Login using your name</p>

        <div>
            <a class="btn btn-success" asp-page="/Login">Login</a>
            <a class="btn btn-primary" asp-page="/Register">Register</a>
        </div>
    </div>
</div>