html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  background-image: url("../img/waiter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 100%;
  color: #fff;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #222;
  opacity: .7;
  z-index: -1;
}

/* Index table */
.status-th {
  font-style: italic;
}

/* Index Modal */
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.7) ;
}

li {
  list-style: none;
}

.btn-waiter {
  border: none;
  background: none;
}

.name-color {
  color: #363434"
}

.border-top {
  border-top: solid .5px #9b9494;
}

.login-row {
  min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.font-300 {
  font-weight: 300;
}
