html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  position: relative;
  background-image: url("../img/waiter-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  height: 100%;
  color: #fff;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: .7;
  z-index: -1;
}