@page
@model LoginModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row d-flex justify-content-center align-items-center login-row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card p-5 pb-2">
            <h1 class="display-6 text-center text-dark mb-4 status-th">Waiter's App</h1>
            <form class="form-group" method="post">
                <span asp-validation-for="waiter.FirstName" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="waiter.FirstName" placeholder="Enter your login name">
                <input type="submit" class="btn btn-success my-4" value="login">
            </form>
        </div>
    </div>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
