@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule page";
}

<div class="col-8">
    <h1 class="display-4 text-center">Schedule</h1>
    <p class="text-center">Weekly Waiter's Shifts</p>

    <div class="clear-pop bg-success w-25 text-center rounded my-1">Schedule cleared</div>

    <table class="table table-bordered bg-light">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var day in Model.Schedule)
            {
                <tr>
                    <td>
                        <h5>@day.Key</h5>
                    </td>

                    @foreach (var today in @day.Value)
                    {
                        <td class="text-center">@today</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <form asp-page-handler="clear" method="post">
        <button class="clear-btn btn btn-danger">Clear Schedule</button>
    </form>
</div>


@section scripts{
    <script>
       

       


    </script>
}
 